.card {
   display: flex;
   align-items: center;
   height: 124px;
   width: 258px;
   margin-bottom: 40px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
   border-radius: 5px;
   background-color: #fbfbfb;
}

.card img {
   width: 19px;
}

.fire-label {
   margin-right: 4px;
   margin-left: 32px;
   padding: 17px 21px;
   border-radius: 6px;
   background-color: #fbeaea;

   img {
      width: 18px;
   }
}

.chicken-label {
   margin-right: 4px;
   margin-left: 32px;
   padding: 18px 20px;
   border-radius: 6px;
   background: rgba(74, 184, 255, 0.1);

   img {
      width: 20px;
   }
}

.apple-label {
   margin-right: 4px;
   margin-left: 32px;
   padding: 17px 21px;
   border-radius: 6px;
   background-color: #fbf6e5;
}

.cheeseburger-label {
   margin-right: 4px;
   margin-left: 32px;
   padding: 19px 21px;
   border-radius: 6px;
   background-color: #fbeaef;
}

.result {
   display: flex;
   flex-direction: column;
}

.result span {
   padding: 3.5px 22px;
}

.result-count {
   font-size: 20px;
   font-weight: 700;
   color: #282d30;
}

.result-name {
   font-size: 14px;
   font-weight: 500;
   color: #74798c;
}
