.sidebar {
   z-index: -1;
   position: absolute;
   top: 0;
   width: 117px;
   background-color: #000;
}

.sidebar ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: auto 0;
   padding: 0;
   list-style: none;
}

.sidebar li {
   width: 34px;
   height: 34px;
   margin: 10px 0;
   padding: 14px;
   border: 1px solid gray;
   border-radius: 6px;
   background-color: #fff;
}

.sidebar img {
   width: 34px;
}

.sidebar li .swim-icon,
.sidebar li .cycling-icon {
   width: 36px;
}

.copyright {
   position: absolute;
   bottom: 11.42%;
   right: -9%;
   width: 140px;
   transform: rotate(-90deg);
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   color: #fff;
}
