.titles {
   margin-bottom: 62px;
}

.titles h1,
h2 {
   display: inline-block;
   margin: 5px 0;
   font-size: 48px;
   font-weight: 500;
}

.titles h2 {
   margin-left: 12px;
}

.titles p {
   font-size: 18px;
   font-weight: 400;
}

.name {
   color: #ff0000;
}
