.main {
   padding: 48px 90px 86px 226px;
}

.content {
   display: inline-grid;
   grid-template-columns: 1fr 1fr;
}

.charts {
   justify-self: stretch;
   width: 835px;
   margin-right: 15px;
}

.cards {
   justify-self: stretch;
   width: 100px;
   margin-left: 15px;
}
