body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Montserrat", sans-serif;
}

.titles {
  margin-bottom: 62px;
}

.titles h1,
h2 {
  display: inline-block;
  margin: 5px 0;
  font-size: 48px;
  font-weight: 500;
}

.titles h2 {
  margin-left: 12px;
}

.titles p {
  font-size: 18px;
  font-weight: 400;
}

.name {
  color: #ff0000;
}

/* Component */
.bar-chart {
  display: flow-root;
  min-width: 0;
  width: 100%;
  padding: 25px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  background-color: #fbfbfb;
}

/* Chart */
.barChart-toolTip {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 63px;
  width: 39px;
  font-size: 7px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  background-color: #e60000;
}

/* Chart title */
.bar-chart h3 {
  width: 30%;
  margin: 0;
  padding-left: 32px;
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
}
@media (max-width: 1140px) {
  .bar-chart h3 {
    width: 100%;
  }
}

/* Abscissa line */
.bar-chart .recharts-cartesian-axis-line {
  stroke: #dedede;
}

/* Abscissa data */
@media (max-width: 1140px) {
  .bar-chart .recharts-cartesian-axis-ticks {
    font-size: 20px;
  }
}

/* Calorie and weight legend */
.bar-chart .recharts-legend-wrapper {
  margin-top: -27px;
}
@media (max-width: 860px) {
  .bar-chart .recharts-legend-wrapper {
    margin: 10px auto;
  }
}

.bar-chart .recharts-legend-wrapper ul li {
  display: flex;
}

/* Container sizes and positions */
.bar-chart .recharts-responsive-container,
.bar-chart .recharts-wrapper,
.bar-chart .recharts-surface {
  display: flex;
  min-width: 0;
  width: 100%;
}

.bar-chart .recharts-surface {
  position: relative;
  top: -1px;
  width: auto;
  padding: 0 10px;
}

@media (max-width: 1440px) {
  .cards {
    display: grid;
    grid-template-rows: auto;
  }
}

@media (max-width: 1440px) {
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.card {
  display: flex;
  align-items: center;
  height: 124px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  background-color: #fbfbfb;
}
@media (max-width: 1440px) {
  .card {
    height: 100px;
    width: 258px;
    margin-bottom: 0;
  }
}

.card img {
  width: 19px;
}

.fire-label {
  margin-right: 4px;
  margin-left: 32px;
  padding: 17px 21px;
  border-radius: 6px;
  background-color: #fbeaea;
}
@media (max-width: 1440px) {
  .fire-label {
    margin-left: 25px;
    padding: 12px 16px;
  }
}

.fire-label img {
  width: 18px;
}

.chicken-label {
  margin-right: 4px;
  margin-left: 32px;
  padding: 18px 18px 18px 21px;
  border-radius: 6px;
  background: rgba(74, 184, 255, 0.1);
}
@media (max-width: 1440px) {
  .chicken-label {
    margin-left: 25px;
    padding: 13px 14px 13px 17px;
  }
}

.chicken-label img {
  width: 21px;
}

.apple-label {
  margin-right: 4px;
  margin-left: 32px;
  padding: 17px 21px;
  border-radius: 6px;
  background-color: #fbf6e5;
}
@media (max-width: 1440px) {
  .apple-label {
    margin-left: 25px;
    padding: 12px 16px;
  }
}

.cheeseburger-label {
  margin-right: 4px;
  margin-left: 32px;
  padding: 19px 21px;
  border-radius: 6px;
  background-color: #fbeaef;
}
@media (max-width: 1440px) {
  .cheeseburger-label {
    margin-left: 25px;
    padding: 14px 15px 14px 16px;
  }
}

.result {
  display: flex;
  flex-direction: column;
}

.result span {
  padding: 3.5px 22px;
}

.result-count {
  font-size: 20px;
  font-weight: 700;
  color: #282d30;
}

.result-name {
  font-size: 14px;
  font-weight: 500;
  color: #74798c;
}

/* Component */
.line-chart {
  position: relative;
  height: 263px;
  width: 258px;
  margin: 30px 0;
}

/* Chart */
.line-chart .recharts-surface {
  height: 263px;
  width: 258px;
  border-radius: 5px;
}

/* Tool tip */
.lineChart-toolTip {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 25px;
  width: 39px;
  font-size: 8px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  background-color: #fff;
}

/* Chart title */
.line-chart h3 {
  z-index: 1;
  position: absolute;
  top: 34px;
  margin: 0 34px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.9;
}

/* Sizing */
.line-chart .recharts-cartesian-grid-bg {
  height: 100%;
  width: 100%;
}

.line-chart .recharts-responsive-container {
  max-height: 263px;
  max-width: 258px;
  border-radius: 5px;
}

.line-chart .recharts-wrapper {
  height: 263px;
  width: 258px;
}

/* Component */
.radar-chart {
  height: 261px;
  width: 258px;
  margin: 30px;
  border-radius: 5px;
  background: #282d30;
}
@media (max-width: 1440px) {
  .radar-chart {
    margin: 30px 0;
  }
}

/* Chart */
.radar-chart .recharts-surface {
  border-radius: 10px;
}

/* Component */
.radialBar-chart {
  position: relative;
  height: 261px;
  width: 258px;
  margin: 30px 0;
  border-radius: 5px;
  background: #fbfbfb;
}

.radialBar-chart h3 {
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
}

/* Chart */
.radialBar-chart .title {
  position: absolute;
  margin: 24px 30px 10px;
  font-size: 15px;
  font-weight: 500;
  color: #20253a;
}

.radialBar-chart .result {
  position: absolute;
  top: 26%;
  left: 54px;
  height: 150px;
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
  color: #74798c;
  background: #ffffff;
}

.radialBar-chart .score {
  position: absolute;
  top: 30px;
  left: 21px;
  font-size: 26px;
  font-weight: 600;
  color: #282d30;
}

.radialBar-chart .text {
  position: absolute;
  top: 65px;
  line-height: 1.5;
}

.radialBar-chart .recharts-wrapper {
  height: 261px;
  width: 244px;
}

.radialBar-chart .recharts-surface {
  height: 261px;
  width: 258px;
}

.logo img {
  height: 61px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 17px 0 9px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 4px;
}

.navbar a {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.sidebar {
  width: 117px;
  background-color: #000;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 117px;
  margin: auto 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  width: 34px;
  height: 34px;
  margin: 10px 0;
  padding: 14px;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #fff;
}

.sidebar li .swim-icon,
.sidebar li .cycling-icon {
  width: 36px;
}

.sidebar img {
  width: 34px;
}

.copyright {
  position: absolute;
  bottom: 121px;
  left: -11px;
  width: 140px;
  transform: rotate(-90deg);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.profile {
  position: relative;
}

.main {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 48px 90px 20px 109px;
}

.items {
  display: grid;
  grid-template-columns: auto 258px;
  gap: 31px;
}
@media (max-width: 1440px) {
  .items {
    grid-template-columns: auto;
  }
}

.charts {
  width: 100%;
  min-width: 0;
}

.small-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1440px) {
  .small-charts {
    justify-content: space-between;
    gap: 30px;
  }
}
@media (max-width: 1151px) {
  .small-charts {
    justify-content: space-evenly;
    gap: 30px;
  }
}

.notFound {
  position: relative;
}

.notFound-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error-code {
  font-size: 100px;
  font-weight: 500;
  color: #f00;
}

.error-message {
  margin: 50px;
  text-align: center;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */